/* 480px, 768px, 1024px */

@media only screen and (max-width: 480px) {
  a {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }

  .splash .header {
    max-width: 300px;
  }

  .about {
    padding-top: 60px;
  }

  .about .profile-image-container {
    padding: 40px 0 20px 0;
  }

  .about .profile-image {
    height: 60vw;
    width: 60vw;
    background-size: 60vw;
  }

  .about .description {
    width: 80%;
    font-size: 16px;
  }

  .projects .row {
    display: flex;
    flex-direction: column;
  }

  .projects img {
    height: 80vw;
    width: 80vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  a {
    font-size: 24px;
  }

  h1 {
    font-size: 32px;
  }

  .splash .header {
    max-width: 500px;
  }

  .about {
    height: auto !important;
  }

  .about .profile-image {
    height: 250px;
    width: 250px;
    background-size: 250px;
  }

  .about .description {
    width: 50%;
    font-size: 24px;
  }

  .projects .row {
    display: block;
  }

  .projects img {
    height: 22vw;
    width: 22vw;
  }
}

@media only screen and (min-width: 769px) {
  a {
    font-size: 24px;
  }

  h1 {
    font-size: 48px;
  }

  .splash .header {
    max-width: 700px;
  }

  .about .profile-image-container {
    padding: 40px 20px;
  }

  .about .profile-image {
    height: 300px;
    width: 300px;
    background-size: 300px;
  }

  .about .description {
    width: 50%;
    font-size: 28px;
  }

  .projects .row {
    display: block;
  }

  .projects img {
    height: 22vw;
    width: 22vw;
  }
}

@media only screen and (min-width: 1024px) {
  .projects img {
    height: 18vw;
    width: 18vw;
  }
}

html, body {
  font-family: Avenir !important;
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
  font-weight: 500;
}

a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: lighter;
}

.navbar {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #AD1457;
}

.splash {
  color: white;
  height: calc(100vh - 82px);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../images/circle.svg"), linear-gradient(#AD1457, #E91E63); /* W3C */
  background-repeat: no-repeat;
  background-position: center;
}

.splash .header {

}

.about {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .header {
  text-align: center;
}

.about .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .profile-image {
  border-radius: 50%;
  background-image: url("../images/profile-pic.jpg");
}

.about .description {
  color: #4A4A4A;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  padding: 40px 40px 120px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


.projects img {
  margin: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.projects img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.copyright {
  text-align: center;
}
